<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment</title>
</head>
<body>
    <header style="display: flex;justify-content: space-between;">
        <img src="https://dms-prod-storage1.censanext.com/receivable/logo_1723037534.png" style="width: 60px;height: 60px;" alt="">
        <h4>Task Management</h4>
    </header>
    <hr>
    <p>
        <%- content%>
    </p>
</body>
</html>